<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title> Upperline Student Project Portfolio </title>
  </head>
  <body class="home">
    <h1> Upperline Student Project Portfolio </h1>


  </body>
</html>
